<footer>
    <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p> <img
        src="/images/the-movie-db-logo.cb5571ba.png" alt="">
</footer>

<script> 
    if('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('/sw.js')
        .then(function(){
          console.log("Service worker is registered")
        })
    }
  </script>
  <script src="/js/index.js"></script>

</body>
</html>